@import "tailwindcss";

@theme {
  --color-primary: #005392;
  --color-secondary: #F2F2F2;
  --font-sans: "Open Sans", Arial, Helvetica, sans-serif;
}

* {
  @apply transition-colors;
}

body {
  @apply bg-secondary text-gray-900 font-sans;
}